<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238671088567-qoim84mk779sl41imivqsvevusvl8h9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238671088567-qoim84mk779sl41imivqsvevusvl8h9e</string>
	<key>API_KEY</key>
	<string>AIzaSyCJNI35W4xA7-iIM2uN8jNDI6WS_bZ2aA4</string>
	<key>GCM_SENDER_ID</key>
	<string>238671088567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reminder</string>
	<key>PROJECT_ID</key>
	<string>reminder-76b2f</string>
	<key>STORAGE_BUCKET</key>
	<string>reminder-76b2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238671088567:ios:0ae57bb3613fb3b4</string>
	<key>DATABASE_URL</key>
	<string>https://reminder-76b2f.firebaseio.com</string>
</dict>
</plist>